.release-container {
    display: flex;
    flex-direction: column;  /* Ensures elements are stacked vertically */
    align-items: center;  /* Initially centers content horizontally */
    background-color: #565c63;  /* Applies background color to the entire container */
    border-radius: 0.6em;  /* Rounds the corners of the entire container */
    color: white;  /* Sets the text color for all child elements */
    padding: 1em;
    width: 100%;
}

.space {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.holder {
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
    padding-top: 2rem;
    padding-right: 17rem;
}

.release-container h1 {
    font-size: 2rem;  /* Specifies the size of the header font */
}

p {
    font-size: 1rem;  /* Ensures the paragraph has the correct font size */
}

.code-title h2 {
    text-align: center;  /* Centers the content of .code-title */
}

.titles {
    text-align: center;
}
.tech-stck {
    text-align: left;  /* Aligns the content of .tech-stck to the left */
    width: 100%; 
}