/* SearchBar.css */

.search-bar-container {
  display: flex;
  align-items: left;
  justify-content: left; /* Center horizontally */
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 5px;
  margin: 0 auto; /* Add margin to center horizontally */
  width: 25%;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 5px;
  font-size: larger;
}

.search-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  margin-left: 5px;
}

